:root {
  --primary-text-color: #757575;
  --primary-icon-color: #AFB1B8;
  --title-text-color: #212121;
  --accent-color: #2196F3;
  --primary-white-color: #ffffff;
  --secondary-background-color: #F5F4FA;
  --dark-background-color: #2F303A;
  --gradient-color: rgba(47, 48, 58, 0.4);
  --set-gap: 30px;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.header, .footer, .section {
  background-color: #ffffff;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.icon {
  fill: currentColor;
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.link {
  text-decoration: none;
}

.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.header {
  margin: 0 auto;
  border-bottom: 1px #ECECEC solid;
}

.container-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main-nav {
  display: flex;
  align-items: center;
}

.logo {
  display: block;
  font-weight: 700;
  font-size: 26px;
  font-family: "Raleway", sans-serif;
  line-height: 1.19;
  letter-spacing: 0.03px;
  color: var(--accent-color);
  text-decoration: none;
  outline: none;
}

.logo span {
  color: #000000;
}

.logo .accent-logo {
  color: var(--primary-white-color);
}

.site-nav {
  display: flex;
  margin-left: 93px;
}

.site-nav .link , .contact .link{
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;  
  color: var(--title-text-color);
  transition: color 250ms var(--timing-function);
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

.link.current {
  color: var(--accent-color);
}

.site-nav > .item:not(:first-child), .contact > .item:not(:first-child) {
  margin-left: 50px;
}

.site-nav .link {
  position: relative;
}

.site-nav .link.current::after {
  position: absolute;
  left: 0;
  bottom: 0;
  content: '';
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);
}

.contact  {
  display: flex;
}

.contact .link {
  color: #757575;
  display: flex;
  align-items: center;
}

.contact .icon {
  margin-right: 10px;
}

.contact .link:hover,
.contact .link:focus {
  color: var(--accent-color);
}

.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  min-height: 600px;
  max-width: 1600px;
  margin: 0 auto;
  background-color: #C4C4C4;
  background-image: linear-gradient(to right, var(--gradient-color), var(--gradient-color)), url('../images/bg_hero.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;
}

.hero-title {
  margin-top: 0;
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--primary-white-color)
}

.button {
  display: inline-flex;
  padding: 10px 32px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;
  text-decoration: none;
  background-color: var(--accent-color);
  color: var(--primary-white-color);
  border: 0;
  border-radius: 4px;
}

.button:hover {
  cursor: pointer;
}

.section {
  margin: 0 auto;
  padding: 94px 0;
}

.section-title {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

.section-title {
  margin-bottom: 50px;
}

.section.feature {
  padding-bottom: 0;
}

.feature-list, .work-list,  .team-list, .clients-list{
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1 * var(--set-gap));
  margin-left: calc(-1 * var(--set-gap));
}

.feature-list > .item,  .work-list > .item, .team-list > .item, .clients-list > .item {
  flex-basis: calc(100% / 3 - var(--set-gap));
  margin-top: var(--set-gap);
  margin-left: var(--set-gap);
}

.team-list > .item, .feature-list > .item {
  flex-basis: calc(100% / 4 - var(--set-gap));
  background-color: var(--primary-white-color);
}

.clients-list > .item {
  flex-basis: calc(100% / 6 - var(--set-gap));
}

.feature-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  margin-bottom: var(--set-gap);
  background-color: var(--secondary-background-color);
}

.feature-title {
  margin-top: 0;
  margin-bottom: 0;  
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--title-text-color);
}

.feature-text {
  margin-top: 10px;
  margin-bottom: 0;
  line-height: 1.71;
}

.work-thumb {
  position: relative;
}

.work-text {
  position: absolute;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  width: 100%;
  padding: 0;
  margin: 0;
  font-weight: bold;
  text-transform: uppercase;
  color: var(--primary-white-color);
  background-color: rgb(47, 48, 58, 0.8);
}

.team {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: var(--secondary-background-color);
}

.team-thumb {
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.team-content {
  padding: 30px 32px 30px 32px;
}

.team-title {
  margin-top: 0;
  margin-bottom: 10px;  
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  color: var(--title-text-color);
}

.team-text {
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.team-social-list {
  display: flex;
  justify-content: space-between;
}

.team-social-list .link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 44px;
  width: 44px;
  border-radius: 50%;
  color: var(--primary-icon-color);
  transition: color 250ms var(--timing-function), background-color 250ms var(--timing-function);
}

.team-social-list .link:hover, .team-social-list .link:focus {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
}

.team-social-list .icon {
  height: 20px;
  width: 20px;
  fill: currentColor;
}

.clients-list .link {
  display: flex;
  padding-top: 20px;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  min-height: 90px;
  justify-content: center;
  color: var(--primary-icon-color);
  transition: color 250ms var(--timing-function), border-color 250ms var(--timing-function);
}

.clients-list .link:hover, .clients-list .link:focus{
  color: var(--accent-color);
  border-color: var(--accent-color);

}

.footer {
  margin: 0 auto;
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--dark-background-color);
}

.footer .container {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.footer .logo {
  margin-bottom: 20px;
}

.footer .link{
  font-style: normal;
  text-decoration: none;
  line-height: 1.71;
  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms var(--timing-function);
}

.footer .link:hover,
.footer .link:focus {
  color: var(--primary-white-color);
}

.footer-address-item:not(:first-child) {
  margin-top: 9px;
}

.social-container {
  display: flex;
  padding-top: 15px;
}

.social-text {
  display: block;
  margin-bottom: 20px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-white-color);
}

.social-list {
  display: flex;
  justify-content: space-between;
}

.social-list .link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 44px;
  width: 44px;
  border-radius: 50%;
  color: var(--primary-white-color);
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms var(--timing-function);
}

.social-list .link:hover, .social-list .link:focus {
  background-color: var(--accent-color);
}

.social-list .icon {
  height: 20px;
  width: 20px;
  fill: currentColor;
}

.social-list > .item:not(:first-child) {
  margin-left: 10px;
}

.sign {
  display: block;
  margin-bottom: 20px;
  text-transform: uppercase;
  color: var(--primary-white-color);
}

.form-mail {
  position: relative;
  display: flex;
  font-size: 16px;
  line-height: 1.25;
}

.sign-input {
  width: 358px;
  height: 50px;
  padding-left: 15px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  color: rgba(255, 255, 255, 0.6)
}

.sign-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 12px;
  padding: 10px 28px;
}

/* .sign-btn:hover {
  cursor: pointer;
} */

.sign-btn .icon {
  margin-left: 10px;
  width: 24px;
  height: 24px;
}

/*  portfolio */

.portfolio-nav > .item:not(:first-child) {
  margin-left: 8px;
}

.portfolio .button {
  padding: 6px 22px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  background-color: var(--secondary-background-color);
  transition: background-color 250ms var(--timing-function), color 250ms var(--timing-function), box-shadow 250ms var(--timing-function);
}

.portfolio .button:hover,
.portfolio .button:focus,
.portfolio .button.current{
  background-color: var(--accent-color);
  color: var(--primary-white-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 50px;
}

.portfolio-card-set {
  display: flex;
  flex-wrap: wrap;
  align-items: start;
  margin: calc(-1 * var(--set-gap) / 2);
}

.portfolio-card-set > .item {
  flex-basis: calc(100% / 3 - var(--set-gap));
  margin: calc(var(--set-gap) / 2);
}

.portfolio-card-set .link{
  display: block;
  cursor: pointer;
  transition: box-shadow 250ms var(--timing-function);
}

.portfolio-card-set .link:hover, .portfolio-card-set .link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-card-content {
  padding: 20px 24px 20px 24px;
  border-left: 1px #eeeeee solid;
  border-right: 1px #eeeeee solid;
  border-bottom: 1px #eeeeee solid;
}

.portfolio-title {
  margin: 0 0 4px 0;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
}

.portfolio-text {
  margin: 0;
  font-size: 16px;
  line-height: 1.88;
  color: var(--primary-text-color);
}

.portfolio-card-thumb {
  position: relative;
  overflow: hidden;
}

.portfolio-card-thumb img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.portfolio-overlay {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: rgb(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: transform 250ms var(--timing-function);
}

.portfolio-specification {
  padding: 63px 24px;
  margin: 0;
  font-size: 18px;
  line-height: 1.56;
  color: var(--primary-white-color);
}

.portfolio-card-set .link:hover .portfolio-overlay, 
.portfolio-card-set .link:focus .portfolio-overlay{
  transform: translateX(0);
}

.backdrop {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0 ,0 ,0 , 0.2);
  opacity: 1;
  transition: opacity 250ms var(--timing-function);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 528px;
  margin: 0 auto;
  padding: 40px;
  background-color: var(--primary-white-color);
  transform: translate(-50%, -50%) scale(1); 
  transition: transform 250ms var(--timing-function);
}

.close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  width: 30px;
  padding: 0;
  margin: 0;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: var(--primary-white-color);
  cursor: pointer;
  transition: color 250ms var(--timing-function);
}

.close-btn:hover {
  color: var(--accent-color);
}

.close-btn .icon {
  height: 11px;
  width: 11px;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal{
  transform: translate(-50%, -50%) scale(1.1); 
}

.form-modal {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
}

.form-input {
  position: relative;
}

.form-caption {
  display: block;
  margin-bottom: 18px;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  color: var(--title-text-color);
}

.modal-field {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.modal-field .icon {
  position: absolute;
  top: 50%;
  left: 11px;
  transform: translateY(-50%);
  width: 18px;
  height: 18px;
}

.modal-label {
  margin-bottom: 4px;
}

.modal-input, .modal-textarea {
  width: 100%;
  padding: 11px 30px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}

.modal-textarea {
  padding-left: 16px;
  resize: none;
  margin-bottom: 20px;
}

.modal-textarea::placeholder{
  color: rgba(117, 117, 117, 0.5)
}


.modal-btn {
  display: block;
  padding: 10px 55px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin: 0 auto;
}

.modal-input:focus, .modal-textarea:focus {
  border: 1px solid var(--accent-color);
  outline: none;
}

.modal-input:focus + .icon {
  fill: var(--accent-color);
}

.policy-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  font-size: 14px;
  line-height: 1.71;
}

.policy-label {
  position: relative;
  padding-left: 25px;
}

.policy-label > .link {
  color: var(--accent-color);
  text-decoration: underline;
}

.policy-label::before {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  content: '';
  display: inline-flex;
  width: 16px;
  height: 15px;
  border: 1px solid var(--title-text-color);
  border-radius: 4px;
}

.policy-checkbox:checked + .policy-label::before {
  border-color: transparent;
  background-color: var(--accent-color);
  background-image: url('../images/check.svg');
  background-size: contain;
  background-origin: border-box;
} 