.clients__list{
  @include grid($set-gap);
  @extend %list;
}

.clients__item {
  @include grid-item($set-gap, 6);
}

.clients__link {
  @include flexbox(flex-start, center);
  padding-top: 20px;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  min-height: 90px;
  color: $primary-icon-color;
  transition: color 250ms $timing-function, border-color 250ms $timing-function;

  &:hover, &:focus{
    color: $accent-color;
    border-color: $accent-color;}
  
}

.clients__icon {
  @extend %icon;
}
