.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  min-height: 600px;
  max-width: 1600px;
  margin: 0 auto;
  background-color: #C4C4C4;
  background-image: linear-gradient(to right, $gradient-color, $gradient-color), url('../images/bg_hero.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;
}

.hero__title {
  margin-top: 0;
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: $primary-white-color
}
