.header {
  margin: 0 auto;
  border-bottom: 1px #ECECEC solid;
  background-color: #ffffff;
}

.header__container {
  
  @include flexbox(center, space-between);
  min-height: 60px;

}

.menu-container {
  display: flex;
  align-items: center;
  flex-grow: 1;

  @media screen and (max-width: 767px) {
    display: none;
    position: absolute;
    z-index: 1000;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 48px 40px;
    font-size: 40px;
    line-height: 1.175;
    letter-spacing: 0.02em;
    background-color: #ffffff;
    overflow-y: auto;}

  @media screen and (max-width: 767px) {
    &.is-open {display: flex;
      flex-direction: column;
      align-items: flex-start;}}
  
}

.header__nav {
  flex-grow: 1;
  
  @media screen and (min-width: 767px) {
    display: flex;
  }
  
}

.header__button {
  display: inline-block;
  border: 0;
  padding: 0;
  margin: 0;
  background-color: transparent;
  height: 40px;
  z-index: 1001;

  // &:hover, &:focus {
  //   color: $accent-color;}

  @media screen and (min-width: 768px) {
    display: none;}
  
}

.header__icon-menu:hover,  .header__icon-cross:hover {
  @extend %icon;
  fill: $accent-color;
}