.header {
  margin: 0 auto;
  border-bottom: 1px #ECECEC solid;
  background-color: #ffffff;
}

.header__container {
  @media screen and (min-width: 768px) {
    @include flexbox(center, space-between);}

}

.header__nav {
  @include flexbox();

  flex-grow: 1;
  
  min-height: 60px;
  @media screen and (max-width: 767px) {
    justify-content: space-between;}
  
}

.heade__button {
  display: inline-block;
  border: 0;
  padding: 0;
  margin: 0;
  background-color: transparent;
  height: 40px;

  @media screen and (min-width: 768px) {
    display: none;}
  
}