.projectfilter {
  @include flexbox($justify: center);
  @extend %list;
  flex-wrap: wrap;
  margin-bottom: 50px;
}

.projectfilter__item:not(:last-child) {
  margin-right: 8px;
}

.projectfilter__btn {
  @extend %button;
  padding: 6px 22px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: 0.03em;
  color: $title-text-color;
  background-color: $secondary-background-color;
  transition: background-color 250ms $timing-function, color 250ms $timing-function, box-shadow 250ms $timing-function;

  &:hover,
  &:focus,
  &--current{
    background-color: $accent-color;
    color: $primary-white-color;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);}

  }

.portfolio {
  @include grid($set-gap);
  @extend %list;
  align-items: start;
}

.portfolio__item {
  @include grid-item($set-gap, 3)
}

.portfolio__link{
  @extend %link;
  display: block;
  cursor: pointer;
  transition: box-shadow 250ms $timing-function;

  &:hover, &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);}

}

.portfolio__content {
  padding: 20px 24px 20px 24px;
  border-left: 1px #eeeeee solid;
  border-right: 1px #eeeeee solid;
  border-bottom: 1px #eeeeee solid;
}

.portfolio__title {
  margin: 0 0 4px 0;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: $title-text-color;
}

.portfolio__text {
  margin: 0;
  font-size: 16px;
  line-height: 1.88;
  color: $primary-text-color;
}

.project {
  position: relative;
  overflow: hidden;
}

.project__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.project__content {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: transform 250ms $timing-function;

  .portfolio__link:hover &, 
  .portfolio__link:focus &{
    transform: translateX(0);
}

}

.project__meta {
  padding: 63px 24px;
  margin: 0;
  font-size: 18px;
  line-height: 1.56;
  color: $primary-white-color;
}