.contact-header  {
  @extend %list;
  display: flex;
}

.contact-header__item:not(:last-child){
  margin-right: 50px;
}

.contact-header__link {
  @include flexbox();
  @extend %link;
  @extend %nav-link;
  color: $primary-text-color;

  &:hover, &:focus{
      color: $accent-color;}

}

.contact-header__icon {
  @extend %icon;
  margin-right: 10px;
}

.contact-footer__list {
  @extend %list;
}

.contact-footer__link {
  @extend %link;
  font-style: normal;
  line-height: 1.71;
  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms $timing-function;

  &:hover, &:focus {
    color: $primary-white-color;}

}

.contact-footer__item:not(:last-child) {
  margin-bottom: 9px;
}
