.logo {
  display: block;
  font-weight: 700;
  font-family: $secondary-font-famil;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.03px;
  color: $accent-color;
  text-decoration: none;
  outline: none;

  @media screen and (min-width: 1200px){
    font-size: 26px;
    line-height: 1.19; }
  
}

.logo__white-theme {
  color: #000000;
}

.logo__dark-theme {
  color: $primary-white-color;
}

.footer__logo {
  margin-bottom: 20px;
  @media screen and (max-width: 1199px) {
    text-align: center;}
  
}