.logo {
  display: block;
  font-weight: 700;
  font-size: 26px;
  font-family: $secondary-font-famil;
  line-height: 1.19;
  letter-spacing: 0.03px;
  color: $accent-color;
  text-decoration: none;
  outline: none;
}

.logo__white-theme {
  color: #000000;
}

.logo__dark-theme {
  color: $primary-white-color;
}

.footer__logo {
  margin-bottom: 20px;
}