.site-nav {
  @extend %list;
  display: flex;
  margin-left: 93px;
}

.site-nav__link {
  @extend %nav-link;
  @extend %link;
  position: relative;

  &:hover,
  &:focus {
    color: $accent-color;}

  &--current {
    color: $accent-color;}

  &--current::after {
    left: 0;
    position: absolute;
    bottom: 0;
    content: '';
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: $accent-color;}

}

.site-nav__item:not(:last-child) {
  margin-right: 50px;
}