.site-nav {
  @extend %list;
  // display: flex;

  @media screen and (min-width: 768px) {
    display: flex;}

  @media screen and (min-width: 481px) and (max-width: 1199px) {
    flex-grow: 1;
    justify-content: center;}
    
  @media screen and (min-width: 1200px) {
    margin-left: 93px;}

}

.site-nav__link {
  @extend %nav-link;
  @extend %link;
  position: relative;

  @media screen and (min-width: 768px) {
    padding-top: 32px;
    padding-bottom: 32px;}

  &:hover,
  &:focus {
    color: $accent-color;}

  &--current {
    color: $accent-color;}

  @media screen and (min-width: 768px) {
      &--current::after {
      left: 0;
      position: absolute;
      bottom: 0;
      content: '';
      display: block;
      width: 100%;
      height: 4px;
      border-radius: 2px;
      background-color: $accent-color;}}

}

.site-nav__item {

  @media screen and (max-width: 767px) {
    margin-bottom: 32px;}

  &:not(:last-child) {
    @media screen and (min-width: 768px) {
      margin-right: 50px;}}
}

.header__icon-cross{
  display: none;
}

.header__button.is-open .header__icon-cross{
  display: block;
}

.header__button.is-open .header__icon-menu{
  display: none;
}