.menu-container {
  display: flex;
  align-items: center;
  flex-grow: 1;

  @media screen and (max-width: 767px) {
    display: none;
  }
}


.header__nav {
  flex-grow: 1;
  display: flex;
}

.js-open-menu {
  position: fixed;
  right: 15px;
  top: 10px;
  display: inline-block;
  border: 0;
  padding: 0;
  margin: 0;
  background-color: transparent;
  height: 40px;
  z-index: 1001;

  @media screen and (min-width: 768px) {
    display: none;}
  
}

.icon-menu:hover,  .icon-cross:hover {
  @extend %icon;
  fill: $accent-color;
}


.site-nav {
  @extend %list;
  
  display: flex;

  @media screen and (max-width: 1199px) {
    flex-grow: 1;
    justify-content: center;}
    
  @media screen and (min-width: 1200px) {
    margin-left: 93px;}

}

.site-nav__link {
  @extend %nav-link;
  @extend %link;
  
  position: relative;
  padding-top: 32px;
  padding-bottom: 32px;

  &:hover,
  &:focus {
    color: $accent-color;}

  &--current {
    color: $accent-color;}

  
  &--current::after {
    left: 0;
    position: absolute;
    bottom: -1px;
    content: '';
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: $accent-color;}

}

.site-nav__item {
  &:not(:last-child) {
    margin-right: 50px;}
}