@mixin flexbox($align: center, $justify: flex-start) {
  display: flex;
  align-items: $align;
  justify-content: $justify;
}

@mixin grid($margin) {
  display: flex;
  flex-wrap: wrap;
  margin: -1 * $margin / 2;
}

@mixin grid-item($margin, $qty) {
  flex-basis: $container-width / $qty - $margin;
  margin: $margin / 2;
}
